body{
	margin: 0px;
	padding: 0px;
	background-color: #222;
}

#credits{
	text-align: center;
	height: 4em;
}

#credits p{
	color: #888;
	text-shadow: #000 0px 1px 1px;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: small;
	margin-bottom: -1em;
}

.MPListViewItem {
	width: 100%;
	height: 72px;
	background-color: #030303;
	border-bottom: 1px solid #3B3B3B;
	
	font-family: "Helvetica" sans-serif;
	position: relative;

	-webkit-transition-property: background-color;
	-webkit-transition-duration: 300ms;
}

.MPPlaylistViewItem {
	height: 3em;
}

.MPPlaylistViewItem .MPTitleLabel{
	padding: 1em;
}

.MPTrackView.MPNowPlaying {
	background-color: #282828;
}

.MPTrackView.MPNowPlaying.MPPaused {
	background-color: #181818;
}

.MPAlbumArtView{
	width: 72px;
	height: 72px;
	margin-left: 0px;
	margin-top: 0px;
	float: left;
	margin-right: 10px;

	background-size: 72px 72px;
	-moz-background-size: 72px 72px;
	-webkit-background-size: 72px 72px;
}

.MPAlbumArtView img {
	width: 72px;
	height: 72px;
}

.MPEmptyAlbumArt{
	background-image: url(no-album-art.png);
	background-size: 100%;
}

.MPLabel{
	color: #ccc;
	height: 1em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.MPTitleLabel{
	padding-top: 0.5em;
	font-weight: bold;
	color: #eee;
}

.MPProgressBar{
	width: 0%;
	height: 100%;
	background-color: #393939;
	border-right: 1px solid #444;
}

.MPBackgroundView, .MPContentView{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
